h1{ 
    background-color: black;
}

*{
    text-align: center;
}

p{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: #FFC7ED;
}

#pitch-text{
    color: #FFAAAA;
}
