h1{
    color: #7695FF;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

h3{
    color: #DA7297;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#800000;
}