h1{
    font: bold;
    font-size:xx-large;
    font-weight:900;
}
h2{
    font:bold
}

h3{
 color:#C7B7A3;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
    font-weight:normal;
}

ul{
    color:#FF8C9E ;
    font-weight: 700;
}
ol{
    color:#FF7EE2;
    font-weight: 700;
}

